.gradle/
build/
out/
*.iml
.idea/
local.properties
plugins/AgnesAntiCheat/

*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
logs/
notes/
outputs/
assets/
video_frames/
META-INF/
run/
*.log
*.gz
hs_err_pid*.log
replay_pid*.log
.vscode/
bin/
Thumbs.db
.DS_Store
__pycache__/
*.pyc
kick-self-mod/

